
.title{
    
    margin-top: 5%;
}
.btn{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    margin-bottom: 5%;
}
.swiper {
    width: 100%;
    font-size: 1rem;
    text-align: center;
 
  }

a{
    text-decoration: none;
}


  