.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiperSlide {
    background-position: center;
    background-size: cover;
    width: 210px;
    height: 300px;
    overflow: hidden;
  }
  
  .img {
    display: block;
    width: 100%;
  }
  h1{
    font-size: 1.5rem;
  }