.h1{
    font-family: FakePearl-Regular,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-bottom: 4vh;
    font-weight: bold;  
}
.img{
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
}
.p{
    font-family: FakePearl-Regular,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
    display: flex;
    justify-content: center;    
    align-items: center;
    font-size: 3vh;  
}