
.bar {
    display: grid;
    grid-template-areas: 'menu logo search icongroup';
    grid-template-columns: 0.5fr 2fr 2fr 0.55fr;
    width: 100%;
    align-items: center;

}


/*
    1.MENU
    2.logo
    3.SEARCH.MAMBER.SHOPCART

    //記得設字體大小
*/
.menu{
    grid-area: menu;
    justify-self: center;
}
.menu:hover{
    cursor: pointer;
    transform: translate(3px,1px);
    transition: 0.3s ease-out;
}

.logo {
    grid-area: logo;
    width: 150px;
}

svg{
    width: 100%;
}

.icongroup{
    grid-area: icongroup;
    display: flex;
    align-items: center
}



.search{
    grid-area: search;
    position: relative;
    display: flex;
    justify-content: end;
    width: 250px;
    height: 36px;
    justify-self: end;
    margin: 20px;
}

.searchicon{
    position: relative;
    font-size: 1.75rem;
    z-index: 200;
    right: 5px;
}
.searchicon:hover{
    cursor: pointer;
    transform: translate(2px,2px);
    transform: translate(3px,1px);
    transition: 0.3s ease-out;
}

.space{
   grid-area: space; 
}

@media (max-width:766.98px) {
    .logo{
        width:100px;
        margin-left: 10%;
    }
}

@media (max-width:575.98px) {
    .bar{
        margin-top: 5px;
        grid-template-areas: 'menu logo  space icongroup';
        grid-template-columns: 0.3fr 0.5fr  1fr 0.5fr;
    }
}