.footer{
    display: grid;
    grid-template-areas:
    'logo logo logo logo'
    'text text text text'
    'copyright copyright copyright copyright';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2.5fr 0.2fr;
    height:auto;
}
.logo{
    grid-area:logo;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.lo{
    width:200px;
    justify-self: center;
}


.text{
    grid-area:text;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.nav{
    grid-area:nav;
}

.member{
    grid-area:member;
}

.contact{

    grid-area:contact;
}

.copyright{
    grid-area: copyright;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    background-color: #402A47;
}
.icon{
    display: none;
}
.block{
    display: block;
}
h2{
    margin-top: 2rem;
    font-size: 1.2rem;
}
.ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.li{
    font-size: 1rem;
    line-height: 2;
}


@media (max-width:576px) {
  .text{
    gap: 2rem;

  }
  .ul{
    text-align: left;
  }
  h2{
    font-size: 1rem;
  }
  .li{
    font-size: 0.8rem;
  }
}