.item{
    background-color:rgb(236, 255, 237);/*利用grid system直接分配寬度，不用另外宣告*/
    border: 1px solid rgb(203, 203, 203);
    height: 55vh;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    border-radius: 4px;
}
.item:hover{
    background-color: rgb(176, 216, 203);
    border-color: rgb(78, 78, 78);
}

.sqare{
    width: 100%;
    height: 80%;
    min-height: 250px;
    overflow: hidden;
    align-self: center;
    display: flex;align-items: center;
    background-color:rgb(232, 245, 232);
}
.img{
    max-width: 100%; 
   max-width: 100%;
    object-fit: contain; 
    border: 1px solid rgb(199, 198, 198);
}

.img:hover{
    filter: brightness(0.7);
}

@media (max-width:1200px) {
    .sqare{
        width: 85%;
    }
}

@media (max-width:767px) {
    .sqare{
        width: 80%;
    }
}

@media (max-width:576px) {
    .sqare{
        height: 65%;
        min-height: 175px;
        min-width: 125px;
    }
}
/*img rwd
    1.object-position
    2.object-fit    
*/

.name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: black;
    margin-left: 5%;
}
.name:hover{
    color: rgb(96, 96, 96);
}
.price{
    color: black;
    margin-left: 5%;
}
.writer{
    color: black;
    margin-left: 5%;
}