.item{
/*利用grid system直接分配寬度，不用另外宣告*/

    display: flex;
    flex-direction: column;
    min-width: 160px;
    border-bottom: 1px solid #5A9790;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px ;
}
.item:hover{
    box-shadow: 0 0 5px #5A9790;
    border-bottom-width: 0;
}

.square {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content:center ;
  }

.img{
    height: 100%;
    object-fit: contain; 
}

.img:hover{
    filter: brightness(0.7);
}

@media (max-width:1200px) {
    .sqare{
        width: 85%;
    }
}

@media (max-width:767px) {
    .sqare{
        width: 80%;
    }
}

@media (max-width:576px) {
    .sqare{
        height: 65%;
        min-height: 175px;
        min-width: 125px;
    }
}
/*img rwd
    1.object-position
    2.object-fit    
*/

.name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left: 5%;
    font-size: 1.2rem;
}

.price{
    margin-left: 5%;
    margin-bottom: 20px;
}
.writer{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-left: 5%;
    font-size: 1rem;
}

.btngroup{
    display: grid;
    grid-template-areas:
    'favorite shop';
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
}

.favorite{
    grid-area: favorite;
    display: flex;
    justify-content: center;

}


.shop{
    grid-area: shop;
    display: flex;
    justify-content: center;
}
.favorite:hover,.shop:hover{
    transform:scale(1.2,1.2);
    cursor: pointer;
    transition:ease-in 0.5s ease 0s
}

@media (max-width:576) {
    .square{
        height: 150px;
    }
}

@media (max-width:450px) {
    .square{
        height: 100px;
    }
}