/*global css*/
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (max-width: 576px) { 
  .container {
  width: 90%;
  }
}

@media (min-width: 576px) {  /*手機*/
.container {
 width: 540px;
}
} 

@media (min-width: 768px) {  /*平板*/
.container {
  width: 680px;
}
} 

@media (min-width: 992px) {
.container {
  width: 960px;
}
} 

@media (min-width: 1200px) {  /*筆電*/
.container {
  width: 1140px;
}
} 

@media (min-width: 1440px) {  /*筆電*/
  .container {
    width: 1300px;
  }
  } 


@media (min-width: 1600px) {  /*桌機*/
.container {
  width: 1500px;
}
} 

/* body */
body {

font-size: 16px;
line-height: 1.6;
min-width: 360px;
}

.mainLayout{
position: relative;
}

.layoutHeader {
  grid-area: header;
  padding: 0;
  line-height: 1.6;
  background-color: #6f7d9c;
}

.top{
  position: sticky;
  top: 0;
  z-index: 200;
}

.layoutContent{
  grid-area: content;
  height: auto;
}

.layoutFooter {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #495470;
}
.productTotalContent{

  margin-bottom: 15%;
  gap: 5%;
}






.ant-breadcrumb a{
  height: auto!important;
}

.ant-menu-inline ,.ant-menu-item{
      margin-inline: 0px!important; 
    margin-block: 0px!important; 
     width: 100%!important;
}
.ant-menu-light.ant-menu-root.ant-menu-inline{
  border-inline-end:0!important;
}
.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: rgba(0, 0, 0, 0) !important;
}

.ant-menu-light{
  background: transparent!important;
}
.ant-menu-item.ant-menu-item-only-child{
  padding: 0!important;
  padding-left: 5px!important;

  border-radius: 10px!important;
}

li.ant-menu-submenu.ant-menu-submenu-inline {
  border-bottom: 1px solid #859f9b !important;
  border-radius: 0px!important;
}

.ant-menu-submenu-title{
  border-radius: 0px!important;
  padding-left: 0px!important;
}
.ant-menu-submenu-title:hover{
background-color: transparent!important;
}

.ant-collapse-content-box{
  padding: 0.1px 0.1px!important;
  border-radius: 0px!important;
}
.ant-collapse-item:last-child{
  border-radius: 0px!important;
}
.ant-collapse-item:last-child >.ant-collapse-content{
  border-radius: 0px!important;
}

.ant-segmented-group,.ant-segmented-item,.ant-segmented-item-selected.ant-segmented-item-label,.ant-segmented-item::after,.ant-segmented-item-input{
  border-radius: 100px!important;

}
.ant-segmented-thumb,.ant-segmented-thumb-motion-appear,.ant-segmented-thumb-motion-appear-active,.ant-segmented-thumb-motion{
  border-radius: 100px!important;
}

.ant-tabs-nav-list{
  width:100%!important;
  justify-content: space-evenly!important;
}
.ant-tabs-ink-bar{
  background-color: #94DFD3!important;
  height: 5px!important;
  border-radius: 3px!important;

}
.ant-tabs-tab,.ant-tabs-tab-active{
  width:calc(100%/4)!important;
  justify-content: center!important;
}


@media (max-width:576px) {
  .ant-tabs-nav-list{
    width: 100%!important;
  }
  .ant-tabs-tab,.ant-tabs-tab-active{
    width: calc(100%/3)!important;
    justify-content: center!important;
  }
  
}
@media (max-width:320px) {
  .ant-tabs-nav-list{
    width: 100%!important;
  }
  .ant-tabs-tab,.ant-tabs-tab-active{
    width: calc(100%/3.5)!important;
    justify-content: center!important;
  }
  
}


/*SPINER*/
.spinner-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spinner{
  margin: 20vh auto;
}

.ant-btn-primary{
  box-shadow: 0 0 0 transparent !important;
}


.swiper-wrapper{
  flex-direction:row !important;
}


.bc{
  width:100%;
  border: 1px solid #a7bab7;
  border-left: 0;
  border-right: 0;
  margin-bottom: 5rem;
}

.login{
  background-color: #DFAEF0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23dbbcef' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d7caef' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23d2d7ee' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23cee5ee' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CAF3ED' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.ant-btn{
  padding: 0 0!important;
}