/*global css*/
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (max-width: 576px) { 
  .container {
  width: 90%;
  }
}

@media (min-width: 576px) {  /*手機*/
.container {
 width: 540px;
}
} 

@media (min-width: 768px) {  /*平板*/
.container {
  width: 680px;
}
} 

@media (min-width: 992px) {
.container {
  width: 960px;
}
} 

@media (min-width: 1200px) {  /*筆電*/
.container {
  width: 1140px;
}
} 


@media (min-width: 1600px) {  /*桌機*/
.container {
  width: 1500px;
}
} 

/* body */
body {

font-size: 16px;
line-height: 1.6;
min-width: 360px;
}

.mainLayout{
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
}

.layoutHeader {
  grid-area: header;
  padding: 0;
  line-height: 1.6;
  background-color: #6f7d9c;
}

.layoutContent{
  grid-area: content;
  height: auto;
}

.layoutFooter {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #495470;
}
.productTotalContent{

  margin-bottom: 15%;
  gap: 5%;
}






.ant-breadcrumb a{
  height: auto!important;
}

.ant-menu-inline ,.ant-menu-item{
      margin-inline: 0px!important; 
    margin-block: 0px!important; 
     width: 100%!important;
}
.ant-menu-submenu-title{
  border-radius: 0px!important;
}
.ant-menu-submenu-title:hover{
background-color: transparent!important;
}

.ant-collapse-content-box{
  padding: 0.1px 0.1px!important;
  border-radius: 0px!important;
}
.ant-collapse-item:last-child{
  border-radius: 0px!important;
}
.ant-collapse-item:last-child >.ant-collapse-content{
  border-radius: 0px!important;
}

.ant-segmented-group,.ant-segmented-item,.ant-segmented-item-selected.ant-segmented-item-label,.ant-segmented-item::after,.ant-segmented-item-input{
  border-radius: 100px!important;

}
.ant-segmented-thumb,.ant-segmented-thumb-motion-appear,.ant-segmented-thumb-motion-appear-active,.ant-segmented-thumb-motion{
  border-radius: 100px!important;
}

@media (max-width:576px) {
  .ant-tabs-nav-list{
    width: 100%!important;
  }
  .ant-tabs-tab,.ant-tabs-tab-active{
    width: 50%!important;
    justify-content: center!important;
  }
  
}