.m1{
    border-left: 1px solid #3B837A;
    border-bottom: 1px solid #3B837A;
    padding: 5%;
}

.m2{
    display: flex;
    justify-content: center;
    border: 1px solid #3B837A;
    border-radius: 50px;
}
.row{
    line-height: 4;
    border-bottom: 1px solid #3B837A;
}

.form{
    width: 50%;
    margin-top: 2rem;
}
.btn{
    background-color:#dfdfdf ;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.95);
}
label:hover{
    cursor: pointer;
}

@media (max-width:992px) {
    .form{
        width:80%;
    }
}
@media (max-width:576px) {
    .form{
        width: 95%;
    }
}